<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>

		<!-- include the header html -->
		{% include 'header.html' %}

		<!-- messages -->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<br>
		<section class="message-row">
			{% for message in messages %}
			<div class="message-box">
				<p class="message-text">{{ message }}</p>
			</div>
			{% endfor %}
		</section>
		{% endif %}
		{% endwith %}

		<!-- Include the child template -->
		{% block content %}{% endblock %}
			}

	</body>
</html>
